<script src="/assets/js/bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/8.2.6/mermaid.min.js"></script>

{% if page.url == "/Search/" %}
<script>
	// Just temporary, will be replaced by a serverless function

	// JSON of all pages
	var pages = [
		{% for page in site.pages %}
		{% unless page.index == false or page.path == "feed.xml" %}
		{
			"title": "{{ page.path | replace: '-', ' ' | replace: '.md', '' | replace: '.html', '' }}",
			"doc": "{{ page.path | replace: '.md', '' | replace: '.html', '' }}",
			"description": "{{ page.description }} {% if page.categories %}{% for category in page.categories[1].location %}{{ category }} {% endfor %}{% endif %}"
		},
		{% endunless %}
		{% endfor %}
	]

	console.log(pages)

	// build lunr index
	var idx = lunr(function () {
		this.ref('title');
		this.field('doc');
		this.field('description');
		pages.forEach(function (page) {
			this.add(page)
		}, this)
	});

	// let vue.js handle the rest ...
	new Vue({
		delimiters:['<%', '%>'],
		el: '#search',
		data: {
			pages: pages,
			idx: idx,
			query: '',
			result: [],
		},
		methods: {
			search: function() {
				if (this.query.length > 0) {
					this.result = idx.search(this.query + '~2');
				} else {
					console.log('Please enter a search term');
					this.result = [];
				}
			},
			open: function(ref) {
				console.log(ref)
				console.log(this.pages)
				const page = this.pages.filter(page => page.title === ref)
				console.log(page)
				let destination = '/' + page[0].doc + '/';
				window.location = destination;
			}
		},
	});
</script>
{% endif %}