<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% include meta.html %}
	{% if site.type == 'web' %}
	<title>
		{% if page.title %}{{ page.title }}{% else %}{{ page.path | remove: '.html' | remove: '.md' | replace: '-',' ' }}{% endif %} | {{ site.title }}
	</title>
	<meta name="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ page.path | remove: '.html' | remove: '.md' | replace: '-',' ' }}{% endif %} | {{ site.title }}">
	<meta name="og:description"
		content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
	<meta name="og:image" content="https://www.pantherx.org/assets/images/px-desktop.jpg">
	<meta itemprop="name" content="{% if page.title %}{{ page.title }}{% else %}{{ page.path | remove: '.html' | remove: '.md' | replace: '-',' ' }}{% endif %}">
	<meta itemprop="description"
		content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
	<meta itemprop="image" content="https://www.pantherx.org/assets/images/px-desktop.jpg">
	<link rel="stylesheet" href="/assets/css/custom.min.css">
	{% else %}
	{% if page.path == "index.html" %}
	<link rel="stylesheet" href="./assets/css/custom.min.css">
	{% else %}
	<link rel="stylesheet" href="../assets/css/custom.min.css">
	{% endif %}
	{% endif %}
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
</head>

<body>
	{% if site.type == 'web' %}
	{% include header.html %}
	{% endif %}
	{{ content }}
	{% if site.type == 'web' %}
	{% include footer.html %}
	{% endif %}
	{% include scripts.html %}
</body>

</html>