body, .toc {
	background-color: #ececec;
}

a {
	color: #003468;
}

.toc {
	padding: 1rem;
}

.toc ul li, .sidebar-nav ul li {
	font-size: .9rem;
	line-height: 1.5rem;
}

.toc ul .is-level-sub, .sidebar-nav ul .is-level-sub {
	padding-left: 1rem;
}

ul.categories {

}

ul.categories li.type {
	font-size: 2rem;
	margin-bottom: 1rem;
}

ul.categories li.location {
	margin-right: 1rem;
}

.wiki-body {
	padding: 1rem;
	background: #fbfbfb;
	min-height: 60vh;
}

.wiki-body .title, .wiki-body h1, .wiki-body h2, .wiki-body h3, .wiki-body h4, .wiki-body  h5, .wiki-body h6 {
	font-family: 'Oswald', sans-serif;
	text-transform: capitalize;
}

.button, .button:hover {
	color: #fff;
	background-color: #003368;
}

.button:hover {
	background-color: #000;
}

.input.is-active, .input.is-focused, .input:active, .input:focus, .taginput .is-active.taginput-container.is-focusable, .taginput .is-focused.taginput-container.is-focusable, .taginput .taginput-container.is-focusable:active, .taginput .taginput-container.is-focusable:focus, .textarea.is-active, .textarea.is-focused, .textarea:active, .textarea:focus {
	border-color: #003368;
	box-shadow: 0 0 0 .125em rgba(0, 51, 104, 0.1);
}

.hero.has-background {
	background-size: cover;
	background-position: center;
	background-image: url(/assets/images/bg01.jpg);
}

@media (max-width: 1087px) {
	.navbar-menu {
		background-color: transparent;
	}
}